.postRow {
  display: flex;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  overflow: hidden;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
}

.postRow:hover {
  box-shadow: rgba(30, 144, 255, 0.2) 0px 7px 29px 0px;
}

.image {
  border: 1px solid red;
  flex: 0;
  width: 200px;
}

.details {
  flex: 1;
  padding: 1rem
}
